/* General Styling */
body {
    font-family: sans-serif;
    text-align: center; /* Centers text */
    margin: 0;          /* Remove default page margins */
    background-color: #F9F9F9; /* light background */
}

header, footer {
    background-color: #2e3d30; /* Asparagus green color */
    color: #FFDAB9;            /* Peach text color */
    padding: 15px 0;
}

nav ul {
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}

nav a {
    color: #FFDAB9;   /* Peach links */
    text-decoration: none;
}

/* Main Content Styling */
.my-plants-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffd9b3; /* Peach background for content area */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.my-plants-container h2 {
    color: #2e3d30; /* Asparagus green */
    margin-bottom: 15px;
}