:root {
    --primary-color: #023020;   /* Dark Green */
    --secondary-color: #ffe7cf; /* Cream */
    --accent-color: #ffd9b3;    /* Peach */
    --error-color: #da7f8f;     /* Softened error color  */
    }

body {
    font-family: sans-serif;
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/10/2021/08/2048x1365-Senecio-rowleyanus-SEO-GettyImages-1262990653-fbfece2.jpg?quality=90&webp=true&resize=675,450'); /* Your Image URL */
    background-repeat: no-repeat;     /* Prevent image repetition */
    background-size: cover;           /* Scale image to cover entire background */
    margin: 0;                        /* Remove browser's default margins */
    z-index: -1;                      /* Make sure this is negative to stay in the back */
    text-align: center; /* Centers text within the body */

}

.background {
    background-color: var(--secondary-color);    /* Cream background underneath image */
}

.header {
    background-color: var(--accent-color); /* Peach background */
    color: var(--primary-color); /* dark green text */
    position: fixed;      /* Make the header stay in place */
    top: 0;               /* Position it at the top */
    left: 0;              /* Stretch it across the left side */
    right: 0;             /* Stretch it across the right side */
    width: 100%;          /* Make it take up full width */
    padding: 15px 0;       /* thickness of header bar*/
    z-index: 100;         /* Ensure the header stays on top */
}

.header_home {
    color: var(--accent-color); /* Peach home link */
}

/* Navigation */
nav ul {
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 10px 0;  /* Add some padding within the nav */
}

nav li {
    display: inline-block; /* Arrange links horizontally */
    margin: 0 15px;       /* Space between links */
}

nav a {
    color: #333333;         /* Adjust as needed */
    text-decoration: none;  /* Remove the default underline */
}

nav a.green-button {
    background-color: #87a96b; /* asparagus green color */
    border: 2px solid #2E8B57; /*dark green border */
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;        /* slightly rounded corners */
}



.button, button {
    background: var(--accent-color);          /* Peach buttons */
    color: var(--secondary-color);            /* Cream text on buttons */
    border: 1px solid var(--highlight-color); /* Gold border */
}

.button:hover, button:hover {
    background: var(--highlight-color); /* Gold on hover */
    color: var(--primary-color);        /* dark green text */
}

.card {
    color: var(--primary-color);                 /* dark green text */
    background-color: var(--secondary-color);    /* Cream background */
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}